.center {
  text-align: center;
}

.hundred {
  width: 100px;
}

.hundred-2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

#blue {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /*background-image: url(../images/color-patch.png);
  background-position: center;*/
  overflow: hidden;
}

.container, .navbar{
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }

header {
    width: 100%;
    height: 90px;
    padding-top: 30px;
    position: relative;   
}

/*logo*/

.navbar a img{
    float:left;
    width:85px;
    height:90px;
    margin-left: -2em;
}
  
/*header*/  
header nav{
    float: right;
    margin-top: 10px;
    display: block;
}

header nav ul>li{
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding-right: 40px;
}

header nav ul li{
    list-style: none;
    display: inline-block;
}

/*nav links*/

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #CCC7B5; }

/*buttons*/ 

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #F660FF;
  border-color: #F660FF; 
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #d257d9;
  border-color: #d257d9; 
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
}

/* intro-contains slide */

.intro {
    width: 100%;
    height: 570px;
    position: relative;
    overflow: hidden;
    background-image: url(../images/collab3.jpg);
    background-size: cover;
}


#slide-dots nav ul{
    margin-left: 45%%;
    margin-top: 275px;
}

#slide-dots nav ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 5px;
}

#slide-dots nav ul li a img{
    width: 12px;
    height: 12px; 
}

.container #features-and-services, #our-happy-customers{
    padding-top: 30px;
    text-align: center; 

}

.container #how-it-works {
    padding-top: 7.5rem;
    text-align: center;

}

.four.columns img{  /* How do I center elements inside the columns in Skeleton? */
    margin-left: auto;
    margin-right: auto;
}

#main-headline {
    /*margin-left: 100px;
    padding-left: 80px;*/
    font-size:39px;
    color:#ffffff;
    font-weight:bold;
}

.main-text {
    /*margin-left: 100px;
    padding-left: 80px;*/
    color: #fff;
    font-family: 'Raleway', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-headline, .main-text {
    display: block;
}

h3, #main-headline, #ready{
   font-family: 'Museo Slab', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5 {
  font-size: 18px;
}

h6, h5 {
margin-bottom: 2rem;

}

p {
  font-weight: 100;
}

.pink {
  color: #F660FF; 
  margin-bottom: 0px;
}

.overlay { 

    background-color: rgba(0,188,204,.7);
    height: 100%;

}
 
 .overlay-2 {   
    width: 100%;
    height: 100%;
    background-color: #00bccc;
    padding-right: 0px;
  }

  #cta, .footer, #ready{
    color: #fff;
  }

  #cta {
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  #ready{
    padding-top: 0px;
    font-weight: 100;
    font-size: 22px;

  }

/*footer*/  
.footer nav{
    float: left;
    margin-top: 10px;
    padding-bottom: 0px;
    height: 25px  ;
}

.footer nav ul li {
    font-size: 12px;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
}
#jottly-footer {
  margin-top: 0px;
  padding-top: 0px;
  clear: both;
  font-size: 12px;
  color: #fff;

}

@media (min-width: 400px) {
 

    #main-headline, .main-text{
   
    width: 80%;

    header {
    width: 100%;
    height: 90px;
    padding-top: 30px;
    position: relative;   
}

}


/*logo*/

.navbar a img{
    margin-left: -30px;
    width:85px;
    height:90px;
    
}

}



}



/* For devices larger than 550px */
@media (min-width: 550px) {
.navbar a img{
    margin-left: 0px;
    width:85px;
    height:90px;
   
}


  }
 

  

