

.container, .navbar{
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }

header {
    width: 100%;
    height: 90px;
    padding-top: 30px;
    position: relative;   
}

/*logo*/

.navbar a img{
    float:left;
    width:85px;
    height:90px;
    margin-left: -2em;
}
  
/*header*/  
header nav{
    float: right;
    margin-top: 10px;
}

header nav ul>li{
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding-right: 40px;
}

header nav ul li{
    list-style: none;
    display: inline-block;
}

/*nav links*/

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #CCC7B5; }

/*buttons*/ 

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #F660FF;
  border-color: #F660FF; 
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #d257d9;
  border-color: #d257d9; 
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
}

/* intro-contains slide */

.intro {
    width: 100%;
    height: 570px;
    position: relative;
    overflow: hidden;
    background-image: url(../images/collab3.jpg);
    background-size: cover;
}


#slide-dots nav ul{
    margin-left: 45%%;
    margin-top: 275px;
}

#slide-dots nav ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 5px;
}

#slide-dots nav ul li a img{
    width: 12px;
    height: 12px; 
}

.container #how-it-works, #features-and-services, #our-happy-customers{
    padding-top: 30px;
    text-align: center;

}

.four.columns img{  /* How do I center elements inside the columns in Skeleton? */
    margin-left: auto;
    margin-right: auto;
}

#main-headline {
    margin-left: 100px;
    padding-left: 80px;
    font-size:39px;
    color:#ffffff;
    font-weight:bold;
    font-family: 'Museo Slab', Helvetica, Arial, sans-serif;
}

.main-text {
    margin-left: 100px;
    padding-left: 80px;
    color: #fff;
}

.overlay {  /* Trying to achieve a transparent overlay here. */
    position: absolute;
    z-index: 1000; 
    height: 575px;
    width: auto;
    background: white;
    top: 0px;
    left: 0px;
    margin-left: 0px; 
    margin-top: 0px; 
    box-shadow: 10px 10px 10px rgba(0, 182, 198, 0.5); 

}
 

